.buscador{
  width: 50%;
  height: 30px;
  margin: 0 auto;
  outline: 0;
  border: 0.5px solid #6c788e;
  border-radius: 5px;
  padding: 0.2rem 0.5rem;
  transition: all 0.3s;
}
.buscador:hover{
  outline: 1px solid #6c788e;
  font-size: 1rem;
}
.buscador:focus{
  outline: 1px solid #6c788e;
  font-size: 0.8rem;
}
