<div class="w-100 d-flex justify-content-center my-2">
  <input type="text" placeholder="Buscar..." class="buscador">
</div>
<div class="container-fluid">
  <h1 class="fs-2 text-center">Mis favoritos</h1>
  <div class="row py-2 px-5">
    <div class="card" style="width: 18rem;">
    <img src="thumbnail.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <div class="row">
        <p class="card-text col-10">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
        <i class="fa-regular fa-bookmark col-2"></i>
      </div>
    </div>
</div>
  </div>
</div>
