<nav class="navbar" *ngIf="isLogin">
  <div class="container bg-none">
    <a class="navbar-brand" href="#">
      <img src="logo.png" alt="Bootstrap" width="60" height="60">
    </a>

    <div class="d-flex align-items-center gap-3">
      <!-- Enlaces añadidos -->
      <a class="nav-link" href="/home">Inicio</a>
      <a class="nav-link" href="/favoritos">Favoritos</a>

      <!-- Dropdown del usuario -->
      <div class="dropdown">
        <a class="dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Nombre usuario
        </a>

        <ul class="dropdown-menu container">
          <li><a class="dropdown-item" href="/login">Iniciar Sesión</a></li>
          <li><a class="dropdown-item" href="/registro">Registrar</a></li>
          <li><a class="dropdown-item" href="#">Cerrar Sesión</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<section class="section">
  <router-outlet></router-outlet>
</section>
