<div class=" d-flex flex-column align-items-center container border border-1 border-secondary-subtle rounded p-3 shadow contenedor-form bg-white">
  <img src="logo.png" alt="">
  <h1 class="fs-3">Recuperar Contraseña</h1>
    <form action="" *ngIf="!validation">
      <div class="form-group my-2 mx-1">
        <label for="">Correo electronico</label>
        <input type="text" placeholder="example@gmail.com" name="email" id="email">
      </div>
      <div class="d-flex justify-content-center my-2">
        <button class=" btn btn-principal">Cambiar contraseña</button>
      </div>
    </form>
    <form action="" *ngIf="validation">
      <div class="row my-2">
        <div class="form-group col-6">
          <label for="">Nueva Contraseña</label>
          <input type="password" placeholder="" name="password" id="password">
        </div>
        <div class="form-group col-6">
          <label for="">Confirmar Contraseña</label>
          <input type="password" placeholder="" name="password" id="password">
        </div>
      </div>
      <div class="d-flex justify-content-center my-2">
        <button class=" btn btn-principal">Cambiar Contraseña</button>
      </div>
    </form>
    <a class="d-flex justify-content-center my-2" href="/login">Iniciar Sesión</a>
</div>
